<button class="btn btn-primary mb-2" routerLink="/">Go back to the Pokemon list</button>

<div class="d-flex justify-content-center" *ngIf="loading; else elseBlock">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ng-template #elseBlock>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img style="width:300px" src="{{pokemon.sprites.front_default}}" class="img-fluid rounded-start"
                    alt="{{pokemon.name}}" title="{{pokemon.name}}">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{pokemon.name}}</h5>
                    <h6 class="mt-2">Types:</h6>
                    <section>
                        <span class="badge rounded-pill text-bg-primary"
                            *ngFor="let typeObj of pokemon.types">{{typeObj.type.name}}</span>
                    </section>
                    <h6 class="mt-2">Abilities:</h6>
                    <section>
                        <span class="badge rounded-pill text-bg-info"
                            *ngFor="let abilityObj of pokemon.abilities">{{abilityObj.ability.name}}</span>
                    </section>

                    <h6 class="mt-2">Moves:</h6>
                    <section>
                        <span class="badge rounded-pill text-bg-warning"
                            *ngFor="let moveObj of pokemon.moves">{{moveObj.move.name}}</span>
                    </section>

                </div>
            </div>
        </div>
    </div>
</ng-template>